header {
  background-color: var(--address-footer-link-button-focus);
  height: 80px;
  justify-content: center;
}

.border {
  border-bottom: 1px solid #ececec;
}
.background-main-portfolio {
  background-color: var(--address-footer-link-button-focus);
}

footer {
  height: fit-content;
}

.footer-background {
  background-color: var(--background-footer);
}

button {
  background-color: var(--background-header-main-button);
  cursor: pointer;
}

body {
  font-family: "Roboto", "Raleway", sans-serif;
  font-weight: 400;
  color: var(--text-font);
}

.background-index-button {
  background-color: var(--background-footer);
}

.background-team {
  background: var(--background-page);
}

.background-team-names {
  background-color: var(--address-footer-link-button-focus);
}

.webstudio-font {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2em;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
}

.web-part-font {
  color: var(--menu-links-link-button-hover);
}

.menu-links-blue {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1em;
  letter-spacing: 0.02em;
  color: var(--menu-links-link-button-hover);
  text-decoration: none;
}

.menu-links-black {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1em;
  letter-spacing: 0.02em;
  color: var(--text-font);
  text-decoration: none;
}

.contacts-header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1em;
  letter-spacing: 0.02em;
  color: var(--subtitles-contacts);
  text-decoration: none;
}

.pic-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2em;
  letter-spacing: 0.06em;
  color: #000000;
  padding-top: 20px;
  padding-bottom: 4px;
  padding-left: 24px;
  margin-top: 0;
  margin-bottom: 0;
  text-align: left;
}

.pic-subtitle {
  font-size: 16px;
  line-height: 1.9em;
  letter-spacing: 0.03em;
  color: var(--subtitles-contacts);
  padding-bottom: 20px;
  padding-left: 24px;
  margin-top: 0;
  margin-bottom: 0;
  text-align: left;
}

.address-footer {
  font-size: 14px;
  line-height: 1.7em;
  letter-spacing: 0.03em;
  color: var(--address-footer-link-button-focus);
}

.mail-footer {
  font-size: 14px;
  line-height: 1.7em;
  letter-spacing: 0.03em;
  font-style: normal;
  color: var(--mail-footer-phone-footer);
}

.phone-footer {
  font-size: 14px;
  line-height: 1.7em;
  letter-spacing: 0.03em;
  text-decoration-line: none;
  font-style: normal;
  color: var(--mail-footer-phone-footer);
}

.padding-footer {
  padding-bottom: 57px;
}

.underline {
  text-decoration-line: none;
}

.link-button:hover {
  color: #ffffff;
  background-color: var(--menu-links-link-button-hover);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.link-button:focus {
  color: #ffffff;
  background-color: var(--menu-links-link-button-hover);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.link-highlight:hover {
  color: #2196f3;
}

.link-highlight:focus {
  color: #2196f3;
}

:root {
  --subtitles-contacts: #757575;
  --background-header-main-button: #e5e5e5;
  --background-footer: #2f303a;
  --menu-links-link-button-hover: #2196f3;
  --address-footer-link-button-focus: #ffffff;
  --mail-footer-phone-footer: rgba(255, 255, 255, 0.6);
  --text-font: #212121;
  --background-page: #f5f4fa;
}

.title-index {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4em;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--address-footer-link-button-focus);
  padding-top: 200px;
  margin: 0;
}

.index-button {
  background: var(--menu-links-link-button-hover);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9em;

  text-align: center;
  letter-spacing: 0.06em;

  color: var(--address-footer-link-button-focus);

  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  border: none;

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.button-center {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 200px;
}

.buttons-portfolio-center {
  text-align: center;
}

.lorem-ipsum {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4em;
  letter-spacing: 0.03em;
  color: var(--text-font);
  width: 270px;
}

.lorem-list {
  list-style-type: none;
}

.text-lorem-ipsum {
  font-size: 14px;
  line-height: 1.7em;
  letter-spacing: 0.03em;
  color: var(--subtitles-contacts);
  padding-bottom: 94px;
  margin-bottom: 0;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.7em;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-font);
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 50px;
}

.name-person {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2em;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-font);
  padding-top: 30px;
  padding-bottom: 10px;
  margin: 0;
}

.name-job {
  font-size: 16px;
  line-height: 1.2em;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--subtitles-contacts);
  padding-bottom: 30px;
  margin: 0;
}

.button-portfolio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6em;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-font);
  background: var(--background-page);
}

.button-space {
  display: inline-flex;
  gap: 8px;
}

.button-all {
  width: 121px;
  height: 38px;
  border-radius: 4px;
  border: none;
}

.button-pages {
  width: 93px;
  height: 38px;
  border-radius: 4px;
  border: none;
}

.button-apps {
  width: 114px;
  height: 38px;
  border-radius: 4px;
  border: none;
}

.button-design {
  width: 114px;
  height: 38px;
  border-radius: 4px;
  border: none;
}

.button-marketing {
  width: 121px;
  height: 38px;
  border-radius: 4px;
  border: none;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

.flex-container {
  display: flex;
}

.flex-lorem {
  display: flex;
  flex: auto;
  align-items: baseline;
  gap: 30px;
  padding-top: 94px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.flex-three {
  flex-basis: calc((100% - 90px) / 3);
  flex-wrap: wrap;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 94px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.item-portfolio {
  width: 370px;
  list-style: none;
}

.box-portfolio {
  border: 1px solid;
  color: #eeeeee;
}

.portfolio-box-right {
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-box-center {
  margin-bottom: 30px;
}

.portfolio-box-left {
  margin-left: 30px;
  margin-bottom: 30px;
}

.box-right-no-30 {
  margin-bottom: 0;
}

.portfolio-box-center-no-30 {
  margin-bottom: 0;
  margin-left: 30px;
}

.portfolio-box-left-no-30 {
  margin-left: 30px;
  margin-bottom: 0;
}

.buttons-portfolio {
  padding-top: 94px;
  padding-bottom: 50px;
}

.flex-work {
  display: flex;
  gap: 30px;
  padding-left: 0px;
  padding-bottom: 50px;
  list-style: none;
}

.text-team {
  padding-top: 94px;
}

.flex-team {
  display: flex;
  gap: 30px;
  padding-left: 0px;
  padding-bottom: 94px;
  list-style: none;
  margin-bottom: 0;
}

.person-photo-box {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.style {
  list-style: none;
}

.webstudio-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2em;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
}

.flex-footer-webstudio {
  display: flex;
  padding-top: 60px;
  padding-bottom: 20px;
  padding-left: 0px;
  margin-top: 0;
  margin-bottom: 0;
}

.no-margins-paddings {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.no-margins {
  margin-top: 0;
  margin-bottom: 0;
}

.flex-footer-contacts {
  display: flex;
  padding-bottom: 9px;
}

.flex-list3 {
  display: flex;
}

.zero-nav-list {
  padding-top: 24px;
  padding-bottom: 25px;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.webstudio-placement {
  padding-top: 24px;
  padding-bottom: 25px;
}

.flex-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
